In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

In [2]:
# pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
# pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
# pd_JH_data.head()

In [3]:

pd_JH_data_country=pd.read_csv('../data/processed/COVID_relational_database_by_country_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data_country=pd_JH_data_country.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data_country.head()

        date      country  confirmed
0 2020-01-22  Afghanistan          0
1 2020-01-22      Namibia          0
2 2020-01-22        Nepal          0
3 2020-01-22  Netherlands          0
4 2020-01-22  New Zealand          0

In [4]:
# len(set(pd_JH_data["country"]))== len(set(pd_JH_data_country["country"]))

In [5]:
test_data=pd_JH_data_country[((pd_JH_data_country['country']=='Nepal')|
                      (pd_JH_data_country['country']=='Germany'))&
                     (pd_JH_data_country['date']>'2020-03-20')
                   ]

In [6]:
test_data.head()

            date  country  confirmed
11094 2020-03-21    Nepal          1
11272 2020-03-21  Germany      22213
11282 2020-03-22    Nepal          1
11460 2020-03-22  Germany      24873
11471 2020-03-23    Nepal          2

In [7]:
test_data.groupby(['country']).agg(np.max)

              date  confirmed
country
Germany 2020-09-14     263222
Nepal   2020-09-14      55329

In [8]:
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
from scipy import signal

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [9]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [10]:
test_data[['country','confirmed']].groupby(['country']).apply(rolling_reg,'confirmed')

country
Germany  11272            NaN
         11460            NaN
         11654       7.417994
         11835       7.142035
         12024       8.012983
         12215       6.954407
         12406       6.501919
         12594       7.390371
         12777      10.136671
         12963      13.541893
         13152      13.781393
         13342      13.140681
         13533      12.037271
         13719      12.735506
         13910      16.052694
         14094      21.372453
         14280      27.427355
         14471      27.511936
         14656      21.792179
         14848      21.495848
         15035      26.565108
         15223      36.198404
         15408      43.982990
         15600      49.423444
         15784      74.043747
         15976      56.424411
         16163      42.468318
         16352      41.525988
         16539      49.898063
         16727      75.684007
         16912      78.000000
         17104      94.526338
         17292      82.985208
         17476      62.294061
         17665      70.294338
         17856      91.536840
         18041     112.903164
         18231     140.472457
         18420     148.285092
         18604     115.116625
         18793     104.285868
         18985     128.349094
         19168     167.535921
         19360     207.816845
         19545     279.484107
         19738     247.616282
         19921     166.275622
         20112     138.835878
         20296     139.648255
         20484     179.986624
         20671     265.319391
         20860     274.642705
         21048     267.092879
         21236     227.702584
         21430     266.129559
         21611     307.670485
         21800     274.967556
         21991     309.480047
         22181     441.111389
         22368     251.099125
         22552     184.808186
         22741     287.086082
         22933     289.519806
         23116     372.170639
         23308     582.550162
         23493     587.311618
         23680     414.470948
         23868     392.008658
         24062     364.738956
         24243     260.678112
         24432     368.114804
         24623     750.711749
         24814     905.667490
         24996     783.060412
         25184     697.778621
         25378     621.103991
         25559     459.540888
         25748     378.218132
         25939     448.849072
         26130     563.792615
         26318     492.385362
         26501     902.561743
         26687    2017.005405
         26876     530.718750
         27066     649.518519
         27257    1283.130137
         27443     903.561446
         27634     511.763851
         27822     408.198120
         28005     241.394249
         28195     223.685349
         28384     446.100821
         28568     392.080164
         28756     348.336369
         28950     317.615894
         29132     348.817770
         29320     433.013094
         29512     332.061803
         29697     356.862925
         29888     591.767631
         30072     666.886986
         30261     538.071724
         30449     459.344301
         30639     411.541317
         30824     442.723036
         31018     475.320451
         31199     530.732167
         31388     456.339492
         31579     482.869919
         31770     624.783202
         31958     603.893617
         32141     628.785677
         32327     563.128060
         32516     680.249858
         32706     848.985138
         32897     745.567970
         33083     564.813146
         33274     404.289738
         33456     348.851371
         33644     413.880464
         33838     586.672464
         34019     451.231739
         34208     413.969450
         34399     428.543989
         34590     351.016037
         34778     304.271220
         34961     294.336435
         35147     394.998723
         35336     495.649081
         35526     398.388462
         35712     289.802417
         35900     228.223195
         36092     226.112610
         36276     286.140136
         36468     513.701989
         36656     382.360458
         36840     263.747512
         37029     212.804529
         37220     193.571536
         37405     206.544407
         37595     231.809013
         37784     397.061661
         37968     271.110696
         38157     194.001184
         38349     186.844463
         38532     161.177186
         38724     151.644156
         38909     202.555505
         39096     369.126096
         39288     203.795961
         39476     145.588821
         39660     151.813262
         39849     144.833544
         40040     139.237035
         40225     181.181264
         40415     319.173606
         40604     207.718414
         40788     152.843207
         40977     164.523315
         41169     160.009817
         41352     154.408858
         41544     213.643110
         41729     411.798699
         41916     247.734960
         42104     180.595818
         42298     188.636259
         42479     175.166018
         42668     173.290158
         42859     225.482717
         43050     347.436678
         43232     196.368640
         43424     156.975534
         43608     181.692436
         43800     160.722431
         43984     156.332930
         44176     194.577961
         44360     260.502498
         44553     217.817325
Nepal    11094            NaN
         11282            NaN
         11471       2.666667
         11661       3.333333
         11846       4.666667
         12035       5.333333
         12223       6.666667
         12413       4.000000
         12599       9.333333
         12786            inf
         12974            inf
         13163            inf
         13350      10.666667
         13541      11.333333
         13727       4.666667
         13915       5.333333
         14101            inf
         14290            inf
         14477            inf
         14666            inf
         14858            inf
         15042            inf
         15229       6.666667
         15418       4.666667
         15607       7.000000
         15793      15.333333
         15985            inf
         16169       2.952381
         16361       3.422222
         16546      61.333333
         16733            inf
         16921       5.833333
         17114       5.666667
         17299      18.133333
         17485      23.666667
         17674      97.333333
         17863      33.333333
         18050      34.000000
         18237      52.666667
         18427      21.733333
         18613      37.333333
         18802      57.666667
         18994      58.333333
         19177       8.041667
         19370       8.708333
         19554      22.095238
         19743       7.111111
         19930       9.894737
         20121      67.111111
         20306      23.185185
         20494      26.833333
         20682       9.833333
         20870       2.872274
         21058       3.454023
         21247      14.916667
         21437      30.039216
         21622      12.809524
         21811      20.309524
         21998       7.626984
         22190       6.679128
         22375      15.435897
         22561      15.587879
         22750      10.486891
         22942       8.173228
         23125      13.049808
         23318      12.714286
         23502       8.114398
         23690       7.647059
         23879       6.666667
         24069       6.421268
         24254       6.787372
         24443       7.750000
         24631       7.778862
         24821       6.934851
         25006       8.466258
         25195       8.763863
         25385       8.546841
         25570       9.740433
         25759      11.934080
         25947      13.213156
         26137      11.803553
         26323      13.523810
         26510      16.494949
         26698      13.409742
         26887      13.879797
         27074      15.431710
         27265      13.170472
         27451      14.891296
         27641      13.788130
         27827      11.464333
         28013      14.159222
         28204      21.776310
         28390      22.965426
         28578      18.962343
         28767      17.822926
         28957      17.359612
         29142      20.062088
         29329      21.840312
         29522      20.474281
         29706      24.146837
         29895      27.212638
         30081      33.319865
         30270      34.133668
         30459      29.409424
         30646      24.085738
         30835      31.048697
         31025      59.090794
         31210      66.580691
         31399      83.187500
         31587      70.522876
         31777      90.214876
         31963     146.321534
         32150     176.946809
         32338     220.039474
         32527     148.864307
         32714     130.274359
         32905     147.077586
         33091     121.512367
         33281     129.268657
         33466     220.637131
         33655     164.647887
         33845     103.321637
         34030     106.142857
         34219     143.818667
         34407     146.636977
         34597     130.259524
         34783     151.785124
         34970     154.728033
         35158     138.408922
         35347      83.597037
         35534      73.049264
         35722      79.728650
         35911      78.435074
         36098      73.474335
         36285      71.525847
         36478      61.413655
         36663      61.143279
         36849      65.780208
         37038      57.713900
         37227      52.875405
         37414      52.696754
         37601      59.611258
         37791      63.949861
         37977      47.971311
         38166      42.596554
         38358      48.455236
         38541      44.647006
         38734      48.039548
         38918      47.027352
         39105      43.600655
         39298      34.296807
         39483      33.170693
         39669      41.709894
         39858      38.431931
         40047      41.324728
         40234      42.945363
         40421      40.884049
         40611      40.945348
         40797      38.555172
         40986      34.562458
         41178      34.806346
         41361      40.244800
         41554      35.584165
         41738      36.277044
         41926      40.159214
         42115      37.045226
         42305      35.506814
         42490      33.181806
         42679      36.775000
         42867      44.786409
         43057      47.224775
         43242      50.197058
         43431      48.610859
         43617      42.349807
         43810      37.432840
         43993      39.046830
         44186      47.380357
         44370      49.074393
Name: confirmed, dtype: float64

## applying to large dataset

In [11]:
pd_DR_result_country=pd_JH_data_country[['country','confirmed']].groupby(['country']).apply(rolling_reg,'confirmed').reset_index()

In [12]:
pd_DR_result_country.head()

       country  level_1  confirmed
0  Afghanistan        0        NaN
1  Afghanistan      329        NaN
2  Afghanistan      496        NaN
3  Afghanistan      683        NaN
4  Afghanistan      871        NaN

In [13]:
pd_DR_result_country=pd_DR_result_country.rename(columns={'confirmed':'confirmed_DR',
                             'level_1':'index'})
pd_DR_result_country.tail()

        country  index  confirmed_DR
44551  Zimbabwe  43681    228.410256
44552  Zimbabwe  43849    298.146667
44553  Zimbabwe  44057    272.000000
44554  Zimbabwe  44204    319.333333
44555  Zimbabwe  44555    654.057971

In [14]:
pd_JH_data_country.head()

        date      country  confirmed
0 2020-01-22  Afghanistan          0
1 2020-01-22      Namibia          0
2 2020-01-22        Nepal          0
3 2020-01-22  Netherlands          0
4 2020-01-22  New Zealand          0

In [15]:
pd_JH_data_country=pd_JH_data_country.reset_index()
pd_JH_data_country.head()

   index       date      country  confirmed
0      0 2020-01-22  Afghanistan          0
1      1 2020-01-22      Namibia          0
2      2 2020-01-22        Nepal          0
3      3 2020-01-22  Netherlands          0
4      4 2020-01-22  New Zealand          0

In [16]:
pd_result_large_country=pd.merge(pd_JH_data_country,pd_DR_result_country[['index','confirmed_DR']],on=['index'],how='left')
pd_result_large_country.tail()

       index       date   country  confirmed  confirmed_DR
44551  44551 2020-09-14    Gambia       3405    234.160920
44552  44552 2020-09-14   Georgia       2392     14.077813
44553  44553 2020-09-14   Germany     263222    217.817325
44554  44554 2020-09-14   Estonia       2698    124.480620
44555  44555 2020-09-14  Zimbabwe       7531    654.057971

## filter data using groupby and apply

In [17]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [18]:
pd_filtered_result_country=pd_JH_data_country[['country','confirmed']].groupby(['country']).apply(savgol_filter).reset_index()

In [19]:
pd_result_large_country=pd.merge(pd_result_large_country,pd_filtered_result_country[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_large_country.tail()

       index       date   country  confirmed  confirmed_DR  confirmed_filtered
44551  44551 2020-09-14    Gambia       3405    234.160920              3414.2
44552  44552 2020-09-14   Georgia       2392     14.077813              2375.0
44553  44553 2020-09-14   Germany     263222    217.817325            263161.6
44554  44554 2020-09-14   Estonia       2698    124.480620              2700.2
44555  44555 2020-09-14  Zimbabwe       7531    654.057971              7540.0

### Filtered doubling rate

In [20]:

pd_filtered_doubling_country=pd_result_large_country[['country','confirmed_filtered']].groupby(['country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling_country=pd_filtered_doubling_country.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_1':'index'})

pd_filtered_doubling_country.tail()

        country  index  confirmed_filtered_DR
44551  Zimbabwe  43681              86.626761
44552  Zimbabwe  43849             213.982759
44553  Zimbabwe  44057             311.525000
44554  Zimbabwe  44204             368.519247
44555  Zimbabwe  44555             370.428571

In [21]:
pd_result_large_country=pd.merge(pd_result_large_country,pd_filtered_doubling_country[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_large_country.tail()

,index,date,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
44551,44551,2020-09-14,Gambia,3405,234.160920,3414.2,175.901554
44552,44552,2020-09-14,Georgia,2392,14.077813,2375.0,15.562064
44553,44553,2020-09-14,Germany,263222,217.817325,263161.6,215.629569
44554,44554,2020-09-14,Estonia,2698,124.480620,2700.2,111.508333
44555,44555,2020-09-14,Zimbabwe,7531,654.057971,7540.0,370.428571

In [22]:
mask=pd_result_large_country['confirmed']>100
pd_result_large_country['confirmed_filtered_DR']=pd_result_large_country['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [23]:
pd_result_large_country[pd_result_large_country['country']=='Germany'].tail()

,index,date,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
43800,43800,2020-09-10,Germany,258149,160.722431,258018.2,168.789051
43984,43984,2020-09-11,Germany,259735,156.332930,259374.2,184.661656
44176,44176,2020-09-12,Germany,260817,194.577961,260732.0,191.152480
44360,44360,2020-09-13,Germany,261737,260.502498,261946.8,202.662158
44553,44553,2020-09-14,Germany,263222,217.817325,263161.6,215.629569

In [24]:
pd_result_large_country.to_csv('../data/processed/COVID_final_set_country.csv',sep=';',index=False)